<!DOCTYPE html>
<html>
<head>
    <title>MHM EEL-BOM-ERP Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <form method="post">
        <h2>Concept for generating EEL / BOM / ERP input</h2>
        <h4>Note: the temperture field decideds inclusion of Dehumidifier, Carton Stop, Hydronic heating. </h4>        
        <label for="input1">Site Name:</label>
        <input type="text" id="input1" name="input1"value="Site Name:"><br>
        <label for="input2">Project Number:</label>
        <input type="text" id="input2" name="input2"><br>
        <label for="input3">Engineer Name:</label>
        <input type="text" id="input3" name="input3"><br>
        <label for="input4">Engineer Name:</label>
        <input type="text" id="input4" name="input4"><br>        
        <label for="input5">Site Name:</label>
        <input type="text" id="input5" name="input5"><br>
        <label for="input6">Project Number:</label>
        <input type="text" id="input6" name="input6"><br>
        <label for="input7">Engineer Name:</label>
        <input type="text" id="input7" name="input7"><br>
        <label for="input8">Engineer Name:</label>
        <input type="text" id="input8" name="input8"><br>        
        <label for="input9">Engineer Name:</label>
        <input type="text" id="input9" name="input9"><br>       
        <label for="input10">Engineer Name:</label>
        <input type="text" id="input10" name="input10"><br>       
        <label for="input11">Engineer Name:</label>
        <input type="text" id="input11" name="input11"><br>      
        <label for="input12">Engineer Name:</label>
        <input type="text" id="input12" name="input12"><br>              
        <label for="color-select">Fans DOL or VSD:</label>
        <select id="color-select">
          <option value="DOL">DOL</option>
          <option value="VSD">VSD</option>
        </select>
        <input type="submit" value="Submit">        
    </form>
</body>
</html>
