<!DOCTYPE html>
<html>
<head>
    <title>MHM EEL-BOM-ERP Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <form method="post">
        <h2>Concept for generating EEL / BOM / ERP input</h2>
        <h4>Note: the temperture field decideds inclusion of Dehumidifier, Carton Stop, Hydronic heating. </h4>        
        <label for="input1">Site Name:</label>
        <input type="text" id="input1" name="input1"><br>

        <label for="input2">Project Number:</label>
        <input type="text" id="input2" name="input2"><br>

        <label for="input3">Engineer Name:</label>
        <input type="text" id="input3" name="input3"><br>

        <label for="input4">Machine Type:</label>
        <input type="text" id="input4" name="input4"><br>  

        <label for="input5">Design air temperature C:</label>
        <input type="text" id="input5" name="input5"><br>

        <label for="input6">Total evaporator count:</label>
        <input type="text" id="input6" name="input6"><br>

        <label for="input7">Total fan count:</label>
        <input type="text" id="input7" name="input7"><br>

        <label for="input8">Largest fan KW e.g. 2.2:</label>
        <input type="text" id="input8" name="input8"><br>

        <label for="input9">Fans DOL or VSD:</label>
        <input type="text" id="input9" name="input9"><br>

        <label for="input10">Infeed conveyor count:</label>
        <input type="text" id="input10" name="input10"><br>

        <label for="input11">Outfeed conveyor count:</label>
        <input type="text" id="input11" name="input11"><br> 

        <label for="input12">blank</label>
        <input type="text" id="input12" name="input12"><br>   

        <input type="submit" value="Submit">
    </form>
</body>
</html>
