<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h2>Success</h2>
    <p>You entered:</p>
    <p>Input 1: {{ input1 }}</p>
    <p>Input 2: {{ input2 }}</p>
    <p>Input 3: {{ input3 }}</p>
    <p>Input 4: {{ input4 }}</p>
    <p>Input 5: {{ input5 }}</p>
    <p>Input 6: {{ input6 }}</p>
    <p>Input 7: {{ input7 }}</p>
    <p>Input 8: {{ input8 }}</p>
    <p>Input 9: {{ input9 }}</p>
    <p>Input 10: {{ input10 }}</p>
    <p>Input 11: {{ input11 }}</p>    
    <p>Input 12: {{ input12 }}</p> 
         
    <a href='/download'>Download</a>
</body>
